.sign-in {
    width: 450px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .montserrat{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
      }

    .buttons{
      display: flex;  
      justify-content: space-between;
    }
}